<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Programmatic-CDA/src/org/pfsw/tools/cda/examples/Sample1.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.pfsw.tools.cda.examples.Sample1"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-d C:\Users\minhpc\Desktop\jgoodies-common-1.8.0.jar"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Programmatic-CDA"/>
</launchConfiguration>
